.page-container {
  display: flex;
  flex-direction: column;
  width: 100%;       
  height: 100vh;
  margin: 0;
  padding: 0;
  align-items: stretch;    
}
.navbarai {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-bottom: none; */
  /* box-shadow: 0 2px 3px rgba(180, 178, 178, 0.08); */
  border-bottom: 2px solid #d8d8d8;
}
.nav-logo {
  width: 50px;
  height: auto;
  cursor: pointer;
}
.nav-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
}
@media (min-width: 640px) {
  .nav-icon {
    display: none;
  }
} 

.main-container {
  flex: 1;                         
  width: 100%;                    
  display: flex;               
  height: calc(100vh - 64px);      
}

.outlet{
  flex: 1;
  background-color: #F4F7FB;
}

.centered-container {
  display: flex;                 
  align-items: center;           
  justify-content: center;        
  height: 100vh;                 
}



