/* Page full height + column layout */
.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
}

/* Navbar styling */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;  /* left + right */
  padding: 1rem 1.25rem;
  border-bottom:none;
}

/* Logo */
.nav-logo {
  width: 50px;
  height: auto;
  cursor: pointer;
}

/* Menu + Close icons */
.nav-icon {
  width: 24px;
  height: 24px;

  cursor: pointer;
}

/* Desktop: hide mobile menu icons */
@media (min-width: 640px) {
  .nav-icon {
    display: none;
  }
}
