.article-container {
  height: 100%;
  overflow-y: auto;
  padding: 1.5rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem;
  color: #334155;
  box-sizing: border-box;
}

.left-card {
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;
  box-sizing: border-box;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: #4A7AFF;
}

.blob-icon{
    width: 1.5rem;
    height: 1.5rem;
    color: #8E37EB;
}

.image-icon{
    width: 1.5rem;
    height: 1.5rem;
    color: #00AD25;
}

.bg-icon{
    width: 1.5rem;
    height: 1.5rem;
    color: #FF4938;
}


.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}


.form-label {
  margin-top: 1.5rem;
  font-size: 0.875rem;
  font-weight: 500;
}

.label-spacing {
  margin-top: 1rem;
}

.form-input {
  width: 100%;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  outline: none;
  box-sizing: border-box;
}

.form-input-image{
    width: 100%;
  padding: 0.5rem 0.75rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.375rem;
  border: 1px solid #d1d5db;
  outline: none;
  box-sizing: border-box; 
  color:#6b7280;
}

.form-input:focus {
  border-color: #4A7AFF;
}

.length-container {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.75rem;
  flex-wrap: wrap;
  max-width: 91.666667%;
}

.length-chip {
  font-size: 0.75rem;
  padding: 0.25rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 9999px;
  cursor: pointer;
  white-space: nowrap;
  color: #6b7280;
  background-color: transparent;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.length-chip-active {
  background-color: #eff6ff;
  color: #1d4ed8;
  border-color: #bfdbfe;
}

.length-blob-active {
  background-color: #d532e1;
  color: #f8f5f8;
  border-color: #bfdbfe;
}

.length-image-active{
  background-color: #e7faef;
  color: #097c2f;
  border-color: #bfdbfe;
}

.generate-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background: linear-gradient(to right, #C341F6, #8E37EB);
  color: #ffffff;

  padding: 0.5rem 1rem;
  margin-top: 1.5rem;

  font-size: 0.875rem;
  border-radius: 0.5rem;

  cursor: pointer;
  border: none;
}


.generate-button-image{
     width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background: linear-gradient(to right, #00AD25, #04FF50);
  color: #ffffff;

  padding: 0.5rem 1rem;
  margin-top: 1.5rem;

  font-size: 0.875rem;
  border-radius: 0.5rem;

  cursor: pointer;
  border: none;
}

.generate-button-bg{
   width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  background: linear-gradient(to right, #F6AB41, #FF4938);
  color: #ffffff;

  padding: 0.5rem 1rem;
  margin-top: 1.5rem;

  font-size: 0.875rem;
  border-radius: 0.5rem;

  cursor: pointer;
  border: none; 
}

.generate-button:hover {
  opacity: 0.95;
}

.generate-icon {
  width: 1.25rem;
  height: 1.25rem;
}


.right-column {
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  min-height: 24rem;
  max-height: 600px;
  box-sizing: border-box;
}

.right-column-blob{
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;

  min-height: 24rem;
  box-sizing: border-box;
}

/* Header row */
.generated-header {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.header-icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #4A7AFF;
}

.header-icon-blob {
  width: 1.25rem;
  height: 1.25rem;
  color: #8E37EB;
}

.header-icon-image{
    width: 1.25rem;
  height: 1.25rem;
  color: #00AD25;
}

.header-icon-bg{
    width: 1.25rem;
  height: 1.25rem;
  color: #FF4938;
}


.generated-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}

/* Body section */
.generated-body {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Empty state */
.generated-empty {
  font-size: 0.875rem;
  color: #9ca3af;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;

  text-align: center;
}

.empty-icon {
  width: 2.25rem;
  height: 2.25rem;
}

/* specific to generate-images page */
.publish-toggle {
  margin: 1.5rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.toggle-label {
  position: relative;
  cursor: pointer;
  display: inline-block;
}

.toggle-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.toggle-track {
  width: 2.25rem;
  height: 1.25rem;
  background-color: #cbd5e1;
  border-radius: 9999px;
  transition: background-color 0.3s;
}

.toggle-thumb {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s;
}

.toggle-input:checked + .toggle-track {
  background-color: #22c55e;
}

.toggle-input:checked ~ .toggle-thumb {
  transform: translateX(1rem);
}

.toggle-text {
  font-size: 0.875rem;
  color: #111827;
} 

/* specific to remove-background page */

.helper-text {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  font-weight: 300;
  color: #6b7280;
}


