.creation-item {
    padding: 1rem;
    max-width: 64rem;
    font-size: 0.875rem;
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    cursor: pointer;
}

.creation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.item-meta {
    color: #6b7280;
}

.item-type-btn {
    background-color: #EFF6FF;
    border: 1px solid #BFDBFE;
    color: #1E40AF;
    padding: 0.25rem 1rem;
    border-radius: 9999px;
}

.container-md {
    margin-top: 0.75rem;
    width: 100%;
    max-width: 28rem;
}

/* .content-box {
    margin-top: 0.75rem;
    height: 100%;
    overflow-y: auto;
    font-size: 0.875rem;
    color: #334155;
} */

.content-box {
    max-height: 200px;
    overflow-y: auto;
    padding: 0.5rem;
    border-left: 2px solid #e5e7eb;
    background-color: #f9fafb;
}

.reset-tw {
    all: unset;           
    display: block;      
    box-sizing: border-box; 
}


