.my-div {
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 85vh;
  background-image: url("/gradientBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 640px) {
  .my-div {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media (min-width: 1280px) {
  .my-div {
    padding-left: 8rem;
    padding-right: 8rem;
  }
} 

.intro{
     text-align: center;
      margin-bottom: 1.5rem;
}

.my-heading {
  font-size: 1.875rem;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  text-align: center;
}

@media (min-width: 640px) {
  .my-heading {
    font-size: 3rem;
  }
}

@media (min-width: 1280px) {
  .my-heading {
    font-size: 4.5rem;
  }
}

.ai{
    color:palevioletred;
}
.my-paragraph {
  margin-top: 1rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
  color: #4B5563;
  font-size: 1rem;
}

@media (min-width: 640px) {
  .my-paragraph {
    max-width: 32rem;
  }
}

@media (min-width: 1280px) {
  .my-paragraph {
    max-width: 36rem;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin :20px;
  gap: 1rem;
  font-size: 0.875rem;
}

@media (max-width: 640px) {
  .button-container {
    font-size: 0.75rem;
  }
}

.button-primary {
  background-color: #4d0e6f;
  color: white;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-primary:hover {
  transform: scale(1.02);
}

.button-primary:active {
  transform: scale(0.95);
}

.button-secondary {
  background-color: white;
  width: 198px;
  color: inherit;
  padding: 0.75rem 2.5rem;
  border-radius: 0.5rem;
  border: 1px solid #d1d5db;
  cursor: pointer;
  transition: transform 0.2s;
}

.button-secondary:hover {
  transform: scale(1.02);
}

.button-secondary:active {
  transform: scale(0.95);
} 

.trusted-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  color: #4B5563;
  font-size: 0.875rem;
}

@media (max-width: 640px) {
  .trusted-container {
    font-size: 0.75rem;
  }
}

.trusted-container img {
  height: 3rem;
  width:  3rem;
  width: auto;
}



