.navbar {
  width:100%;
  font-size: 17px;
  font-weight: 500;
  height :100px;
  display: flex;            
  justify-content: space-between; 
  align-items: center;       
  padding: 0 1em; 
  background-color: #000000;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 500; /* stays above all content */
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@media (min-width: 640px) {
  .navbar {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media (min-width: 1280px) {
  .navbar {
    padding-left: 128px;
    padding-right: 128px;
  }
} 

.navbar-logo {
  width: 80px; 
   height : 80px;
}

@media (min-width: 640px) {
  .navbar-logo {
    width: 90px; 
    height : 90px;
  }
} 


.getbtn { 

  background: #473168;
  color: rgb(244, 241, 241);
  font-family: inherit;
  padding-left: 1.2em;
  font-size: inherit;
  font-weight : inherit;
  border-radius: 0.9em;
  border: none;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  box-shadow: inset 0 0 1.6em -0.6em #bdadd5;
  overflow: visible;
  position: relative;
  width: 9.5em;
  height: 2.5em;
  padding-right: 1.0em;
  cursor: pointer;
}

.getbtn .icon-small {
  background: rgb(255, 254, 254);
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color :rgb(98, 35, 134);
  height: 2.02em;
  width: 2.15em;
  border-radius: 0.6em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #452b6c;
  right: 0.3em;
  transition: all 0.3s;
}

.getbtn:hover .icon-small{
  width: calc(100% - 0.6em);
}

.getbtn:active .icon-small {
  transform: scale(0.95);
  background-color: #dbd4e6;
}
