.sidebar {
  width: 15rem;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 3.5rem;
  bottom: 0;
  transition: all 300ms ease-in-out;
  z-index: 50;
}

@media (max-width: 639px) {
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
  }
    .sidebar.open {
    transform: translateX(0);      
  }

}

.sidebar.open {
    transform: translateX(0);      
} 

.sidebar_header{
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    width: 100%;
    display: flex;
      flex-direction: column;
  align-items: center;   
}

.avatar {
  width: 3.25rem;        
  border-radius: 9999px;
  margin-left: auto;   
  margin-right: auto;
  
}
.user_name{
    margin-top: 0.25rem;   
    text-align: center; 
}

.sidebar-section {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 1.25rem;
  font-size: 0.875rem;
  color: #4b5563;
  font-weight: 500;
}


.sidebar-link {
  padding: 0.625rem 0.875rem;  
  display: flex;
  align-items: center;
  gap: 0.75rem;               
  border-radius: 0.375rem;     
  text-decoration: none;
  color: inherit;
}

.sidebar-link.active {
  background: linear-gradient(
    to right,
    #3C81F6,
    #9234EA
  );
  color: #ffffff;
}

.icon {
  width: 1rem;      
  height: 1rem;      
  color: #374151;    
}

.icon-active {
  color: #ffffff;    
}

.sidebar-footer {
  width: 100%;
  border-top: 1px solid #e5e7eb;
  padding: 1rem;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.user-profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  width: 2rem;
  border-radius: 9999px;
}

.logout-icon {
  color: #f7f7f7;
  cursor: pointer;
  transition: color 150ms ease-in-out;
  padding: 0.25rem 0.65rem;  
  display: flex;
  align-items: center;
  gap: 0.75rem;               
  border-radius: 0.375rem;     
  text-decoration: none;
     background: linear-gradient(
    to right,
    #3C81F6,
    #9234EA
  );
}

.logout-icon:hover {
  color: #fbfbfb;
  background-color: #9234EA;
}

.user-name {
  font-size: 0.875rem; 
  font-weight: 500;    
}

.protect-text {
  font-size: 0.75rem;   
  color: #6b7280;       
}




