.sidebar {
  width: 15rem;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  top: 3.5rem;
  bottom: 0;
  transition: all 300ms ease-in-out;
  z-index: 50;
}

@media (max-width: 639px) {
  .sidebar {
    position: absolute;
    transform: translateX(-100%);
  }
    .sidebar.open {
    transform: translateX(0);      
  }

}

.sidebar.open {
    transform: translateX(0);      
} 

.sidebar_header{
    margin-top: 1.75rem;
    margin-bottom: 1.75rem;
    width: 100%;
}

.avatar {
  width: 3.25rem;        
  border-radius: 9999px;
  margin-left: auto;   
  margin-right: auto;
}
.user_name{
    margin-top: 0.25rem;   
    text-align: center; 
}

